.field {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.cell {
	width: 100px;
	height: 100px;
	font-size: 48px;
	font-weight: bold;
	border: 2px solid #333;
	background-color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3n + 1) {
	border-left: 2px solid #333;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(3n) {
	border-right: 2px solid #333;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
	border-bottom: none;
}

.cell:nth-child(n + 7) {
	border-bottom: 2px solid #333;
}

.cell:hover {
	background-color: #f9f9f9;
}

.cell:disabled {
	cursor: not-allowed;
}
